<!DOCTYPE html>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForWeb.cshtml";
}
<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="~/Content/copy/style.css" media="all">
    <link type="text/css" rel="stylesheet" href="~/Content/copy/z.css" media="all">
</head>
<body class="bBg">
    <div class="bMain">
        <div class="bLeft">
            <h2>Ji Wu Hen</h2>
            <div class="bLeft1">
                <img src="~/Content/img/samples/scarlet-159.png" />


                <label>@Model.agent.c_name</label>


            </div>
            <div class="bLeft2">
                <p>
                    <label>Position Level：</label>
                    @if (Model.Level == "代理商")
                    {
                        <span>Agent</span>
                    }
                    else if (Model.Level == "部门经理")
                    {
                        <span>Manager</span>
                    }
                    else if (Model.Level == "副总监")
                    {
                        <span>Deputy Director</span>
                    }
                    else if (Model.Level == "总监")
                    {
                        <span>Director</span>
                    }
                    else if (Model.Level == "总经理")
                    {
                        <span>General Manager</span>
                    }
                </p>@*职位级别*@
                <p>
                    <label>Agent Level：</label><span>
                        @*代理商级别*@
                        @if (Model.agent != null && Model.agent.c_agnet_type == 0)
                        {
                            <span>Experience Store</span>
                        }
                        else
                        {
                            if (Model.AgLevel == "加盟店")
                            {
                                <span>Franchisee</span>
                            }
                            else if (Model.AgLevel == "市级代理")
                            {
                                <span>City Agent</span>
                            }
                            else if (Model.AgLevel == "省级代理")
                            {
                                <span>Province Agent</span>
                            }
                        }
                    </span>
                </p>
                @if (Model.agent != null && Model.agent.c_agnet_type == 0)
                {
                    <p>
                        <label>Experience State：</label><span>
                            @if (Model.agent.c_exp_state == null || Model.agent.c_exp_state == 0)
                            {
                                <span>Not Experience</span>
                            }
                            else
                            {
                                <span>Experienced</span>
                            }
                        </span>
                    </p>
                }
                <p><label>Direct：</label><span>@Model.FirstCount</span></p>
                <p><label>Generation：</label><span>@Model.SecondCount</span></p>
                <p><label>Personnel：</label><span>@Model.OtherCount</span></p>
                <p><label>Exp Count：</label><span>@Model.ExpCount</span></p>
                <p><label>Total Point：</label><span>@Model.TotalScore</span></p>
                <p><label>Current Point：</label><span>@Model.agent.c_score</span></p>
                <input type="button" value="Exchange" onclick="tqOk()">
                @if (Model.agent.c_agnet_type == 0)
                {
                    <input type="button" value="Become an Agent" onclick="applyUp()">
                }
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        @RenderBody()
        <div class="tqjeDiaBg">
            <div class="tqjeDia">
                <h2>Exchange</h2>
                <div class="tqjeDia1">
                    <div class="tqjeDia1_1">Fill in the application information. We will put the money in your card within three working days.</div>
                    <div class="tqjeDia1_2"><label>Total Exchange Point:</label><span>@Model.CanCashScore</span></div>
                    <div class="tqjeDia1_3"><label>Exchange Point:</label><input type="text" value="" id="money" pattern="金额"></div>
                </div>
                <div class="tqjeDia2">Card Information<!-- <label>修改</label> --></div>
                <div class="tqjeDia3">
                    <p>Bank:<input type="text" value="@Model.agent.c_bank_name" id="bank_acc" pattern="开户行"></p>
                    <p>Account:<input type="text" value="@Model.agent.c_bank_account" id="bank_num" pattern="卡　号"></p>
                    <p>Cardholder:<input type="text" value="@Model.agent.c_bank_person" id="bank_holder" pattern="持卡人" readonly="true"></p>
                </div>
                <div class="tqjeDia4">
                    <input class="tqjeDia4_1" type="button" value="Confirm">
                    <input class="tqjeDia4_2" onclick="tqClose()" type="button" value="Return">
                </div>
            </div>
        </div>
    </div>
    <script>
        var state = @Model.agent.c_state;
        var ag_id = '@Model.agent.c_id';
        $(document).ready(function(){
            $('#money').attr("disabled","");
            $('#bank_acc').attr("disabled","");
            $('#bank_num').attr("disabled","");
        })
        function tqOk() {
            if(state == 2){
                $("#money").removeAttr("disabled");
                $(".tqjeDiaBg").show();
            }else {
                alert("Please fill in the information first!");
            }

        }
        function tqClose() {
            $(".tqjeDiaBg").hide();
        }

        function applyUp(){
            var amount = @Model.expLevelUpScore;
            if(@Model.agent.c_score >= amount){
                if(confirm("Do you decide to apply to become a franchisee?")){
                    $.ajax({
                        url: '@Url.Action("ApplyExpLevelUp", "Home")',
                        data: { keyValue:ag_id },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                alert("Apply for success, please wait for audit.");
                                window.setTimeout(function () {
                                    var indexUrl = '@Url.Action("UserInfo", "Home")';
                                    window.location.href = indexUrl;
                                }, 1000);
                                return true;
                            } else if(data.state == "error"){
                                alert(data.message);
                            }
                        }
                    });
                }

            }else {
                alert("Lack of point"+ amount +"，You can't apply to become a franchisee");
            }

        }


        function chk_money() {
            var money = $('#money').val();
            var currentScore = @Model.CanCashScore;
            if(money && parseInt(money) < 100){
                alert('At least 100');
                return false;
            } else if(money > currentScore){
                alert('Exchange Point Greater Than Total Exchange Point');
                return false;
            }
            return true;
        }


        $('.tqjeDia4_1').click(function () {
            if(chk_money()){
                var money = $('#money').val();
                var bank_acc = $('#bank_acc').val();
                var bank_num = $('#bank_num').val();
                var bank_holder = $('#bank_holder').val();
                var r = confirm("Do you confirm the submission？");
                if (r) {
                    $.ajax({
                        url: '@Url.Action("ScoreCash", "Home")',
                        data: {
                            amount: money
                            , bankName: bank_acc
                            , bankAccount: bank_num
                            , bankPerson: bank_holder
                            ,agentId : ag_id
                        },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                alert("Successfully submitted, We will put the money in your card within three working days.");
                                window.setTimeout(function () {
                                    var indexUrl = '@Url.Action("UserInfo", "Home")';
                                    window.location.href = indexUrl;
                                }, 1000);
                                return true;
                            } else {
                                alert("Submission failure： " +  data.message)
                            }
                        }
                    });
                }
            }
        });
    </script>
    <style>
        .tqjeDiaBg, #prom {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            display: none;
        }

        .tqjeDia {
            width: 530px;
            height: 536px;
            overflow: hidden;
            background: #fff;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            border-radius: 7px;
        }

            .tqjeDia h2 {
                line-height: 50px;
                padding-left: 20px;
                font-weight: bold;
                background: #eee;
                font-size: 20px;
                color: #333;
            }

        .tqjeDia1 {
            height: 211px;
        }

        .tqjeDia1_1 {
            font-size: 16px;
            height: 74px;
            color: #333;
            line-height: 27px;
            padding: 26px 2px 0 24px;
        }

        .tqjeDia1_2 {
            text-align: center;
        }

            .tqjeDia1_2 label {
                font-size: 18px;
                font-weight: bold;
                color: #292929;
            }

            .tqjeDia1_2 span {
                font-size: 18px;
                font-weight: bold;
                color: #fe6c00;
            }

        .tqjeDia1_3 {
            text-align: center;
            line-height: 30px;
            padding-top: 26px;
        }

            .tqjeDia1_3 label {
                font-size: 14px;
                color: #333;
            }

            .tqjeDia1_3 input {
                width: 93px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

            .tqjeDia1_3 span {
                font-size: 16px;
                color: #1da75f;
            }

        .tqjeDia2 {
            width: 490px;
            margin-left: 20px;
            font-weight: bold;
            font-size: 18px;
            line-height: 58px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia2 label {
                float: right;
                color: #1da75f;
                font-size: 16px;
                font-weight: 100;
            }

        .tqjeDia3 {
            width: 490px;
            height: 130px;
            padding-top: 13px;
            margin-left: 20px;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia3 p {
                font-size: 18px;
                color: #999;
                line-height: 39px;
            }

            .tqjeDia3 input {
                width: 300px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

        .tqjeDia4 {
            width: 375px;
            height: 50px;
            text-align: center;
            padding-left: 115px;
            padding-top: 20px;
            margin-left: 20px;
            border-top: 1px dashed #eeeeee;
        }

            .tqjeDia4 input {
                width: 78px;
                height: 30px;
                font-size: 14px;
                border-radius: 5px;
                display: block;
                float: left;
            }

        input.tqjeDia4_1 {
            border: 1px solid #1da75f;
            color: #fff;
            background: #1da75f;
            margin-right: 100px;
        }

        input.tqjeDia4_2 {
            border: 1px solid #1da75f;
            color: #1da75f;
            background: #fff;
        }
    </style>
</body>
</html>
