<!DOCTYPE html>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForWeb.cshtml";
}
<html>
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="~/Content/copy/style.css" media="all">
    <link type="text/css" rel="stylesheet" href="~/Content/copy/z.css" media="all">
</head>
<body class="bBg">
    <div class="bMain">
        <div class="bLeft">
            <h2>深圳XX生物科技</h2>
            <div class="bLeft1">
                <img src="~/Content/img/samples/scarlet-159.png" />
                <label>@Model.agent.c_name</label>
            </div>
            <div class="bLeft2">
                <p><label>职位级别：</label><span>@Model.Level</span></p>
                <p><label>代理商级别：</label><span>@Model.AgLevel</span></p>
                <p><label>直推人数：</label><span>@Model.FirstCount</span></p>
                <p><label>二代人数：</label><span>@Model.SecondCount</span></p>
                <p><label>二代外人数：</label><span>@Model.OtherCount</span></p>

                <p><label>总业绩额：</label><span>@Model.TotalScore</span></p>
                <p><label>当前积分：</label><span>@Model.agent.c_score 分</span></p>
                <input type="button" value="积分兑换" onclick="tqOk()">
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        @RenderBody()
        <div class="tqjeDiaBg">
            <div class="tqjeDia">
                <h2>积分兑换</h2>
                <div class="tqjeDia1">
                    <div class="tqjeDia1_1">填写申请折现积分与打款银行卡信息，我们将在三个工作日内将积分打到您的银行卡中。</div>
                    <div class="tqjeDia1_2"><label>可折现积分：</label><span>@Model.CanCashScore</span></div>
                    <div class="tqjeDia1_3"><label>兑换积分：</label><input type="text" value="" id="money" pattern="金额"></div>
                </div>
                <div class="tqjeDia2">银行卡信息<!-- <label>修改</label> --></div>
                <div class="tqjeDia3">
                    <p>开户行：<input type="text" value="@Model.agent.c_bank_name" id="bank_acc" pattern="开户行"></p>
                    <p>卡　号：<input type="text" value="@Model.agent.c_bank_account" id="bank_num" pattern="卡　号"></p>
                    <p>持卡人：<input type="text" value="@Model.agent.c_bank_person" id="bank_holder" pattern="持卡人" readonly="true"></p>
                </div>
                <div class="tqjeDia4">
                    <input class="tqjeDia4_1" type="button" value="确认">
                    <input class="tqjeDia4_2" onclick="tqClose()" type="button" value="返回">
                </div>
            </div>
        </div>
    </div>
    <script>
        var state = @Model.agent.c_state;
        var ag_id = '@Model.agent.c_id';
        $(document).ready(function(){
            $('#money').attr("disabled","");
            $('#bank_acc').attr("disabled","");
            $('#bank_num').attr("disabled","");
        })
        function tqOk() {
            if(state == 2){
                $("#money").removeAttr("disabled");
                $(".tqjeDiaBg").show();
            }else {
                alert("请先完善资料!");
            }

        }
        function tqClose() {
            $(".tqjeDiaBg").hide();
        }


        function chk_money() {
            var money = $('#money').val();
            var currentScore = @Model.CanCashScore;
            if(money && parseInt(money) < 100){
                alert('100起提');
                return false;
            } else if(money > currentScore){
                alert('兑换积分大于可折现积分');
                return false;
            }
            return true;
        }
        $('.tqjeDia4_1').click(function () {
            if(chk_money()){
                var money = $('#money').val();
                var bank_acc = $('#bank_acc').val();
                var bank_num = $('#bank_num').val();
                var bank_holder = $('#bank_holder').val();
                var r = confirm("确认提交吗？");
                if (r) {
                    $.ajax({
                        url: '@Url.Action("ScoreCash", "Home")',
                        data: {
                            amount: money
                            , bankName: bank_acc
                            , bankAccount: bank_num
                            , bankPerson: bank_holder
                            ,agentId : ag_id
                        },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                alert("积分兑换提交成功，3个工作日内到账");
                                window.setTimeout(function () {
                                    var indexUrl = '@Url.Action("UserInfo", "Home")';
                                    window.location.href = indexUrl;
                                }, 1000);
                                return true;
                            } else {
                                alert("提交失败 ： " +  data.message)
                            }
                        }
                    });
                }
            }
        });
</script>
    <style>
        .tqjeDiaBg, #prom {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 10;
            display: none;
        }

        .tqjeDia {
            width: 530px;
            height: 536px;
            overflow: hidden;
            background: #fff;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            border-radius: 7px;
        }

            .tqjeDia h2 {
                line-height: 50px;
                padding-left: 20px;
                font-weight: bold;
                background: #eee;
                font-size: 20px;
                color: #333;
            }

        .tqjeDia1 {
            height: 211px;
        }

        .tqjeDia1_1 {
            font-size: 16px;
            height: 74px;
            color: #333;
            line-height: 27px;
            padding: 26px 2px 0 24px;
        }

        .tqjeDia1_2 {
            text-align: center;
        }

            .tqjeDia1_2 label {
                font-size: 18px;
                font-weight: bold;
                color: #292929;
            }

            .tqjeDia1_2 span {
                font-size: 18px;
                font-weight: bold;
                color: #fe6c00;
            }

        .tqjeDia1_3 {
            text-align: center;
            line-height: 30px;
            padding-top: 26px;
        }

            .tqjeDia1_3 label {
                font-size: 14px;
                color: #333;
            }

            .tqjeDia1_3 input {
                width: 93px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

            .tqjeDia1_3 span {
                font-size: 16px;
                color: #1da75f;
            }

        .tqjeDia2 {
            width: 490px;
            margin-left: 20px;
            font-weight: bold;
            font-size: 18px;
            line-height: 58px;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia2 label {
                float: right;
                color: #1da75f;
                font-size: 16px;
                font-weight: 100;
            }

        .tqjeDia3 {
            width: 490px;
            height: 130px;
            padding-top: 13px;
            margin-left: 20px;
            border-bottom: 1px solid #eee;
        }

            .tqjeDia3 p {
                font-size: 18px;
                color: #999;
                line-height: 39px;
            }

            .tqjeDia3 input {
                width: 300px;
                padding-left: 5px;
                margin: 0 19px;
                height: 30px;
                border: 1px solid #e1e1e1;
            }

        .tqjeDia4 {
            width: 375px;
            height: 50px;
            text-align: center;
            padding-left: 115px;
            padding-top: 20px;
            margin-left: 20px;
            border-top: 1px dashed #eeeeee;
        }

            .tqjeDia4 input {
                width: 78px;
                height: 30px;
                font-size: 14px;
                border-radius: 5px;
                display: block;
                float: left;
            }

        input.tqjeDia4_1 {
            border: 1px solid #1da75f;
            color: #fff;
            background: #1da75f;
            margin-right: 100px;
        }

        input.tqjeDia4_2 {
            border: 1px solid #1da75f;
            color: #1da75f;
            background: #fff;
        }
    </style>

</body>
</html>
