<!DOCTYPE html>
<html>
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>xxxxx生物科技有限公司</title>
    <meta name="author" content="XX|XX官方唯一认证平台">
    <meta name="keywords" content="XX|XX官方唯一认证平台">
    <meta name="description" content="XX|XX官方唯一认证平台">

    <link type="text/css" rel="stylesheet" href="~/Content/copy/style.css" media="all">
    <link type="text/css" rel="stylesheet" href="~/Content/copy/z.css" media="all">
    <link href="~/Content/copy/idangerous.swiper.css" rel="stylesheet" />
    <script src="~/Content/copy/idangerous.swiper.min.js"></script>

    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-login.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <script src="~/Content/js/md5/jquery.md5.js"></script>
    <script src="~/Content/js/Share.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

   
</head>
<body>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <div class="bHeader_bg">
        <div class="bHeader">
            <label>您好，欢迎来到深圳XX生物科技有限公司！</label><!-- <a class="bHeader1"></a><a class="bHeader2"></a> -->
            <div class="bHeader3">
                @if (!string.IsNullOrEmpty( ViewBag.UserId))
                {
                    <a href="~/Home/UserInfo" class="bHeader3_1">@ViewBag.User</a>
                    <a href="~/Account/LogOut" class="bHeader3_2">退出</a>
                }
                else
                {
                    <a href="~/Account/Login" class="bHeader3_2">登陆</a>
                }

            </div>
        </div>
    </div>
    <div class="bNav_bg">
        <div class="bNav">
            <a class="bNav1"><img src="~/Content/timg.jpg"></a>
            <ul>
                <li><a href="~/Home/Index">首页</a></li>
                <li><a href="~/Home/MyCustomer">我的客户</a></li>
                <li><a href="~/Home/UserInfo">个人资料</a></li>
                <li><a href="~/Home/ScoreManager">积分管理</a></li>
                <li><a href="~/Product/Index">产品</a></li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
        <div class="footer_box">
            <div class="footer">
                <p></p>
                <p>Copyright © 2016 Inc. All rights reserved 2017-2020 <span style="color:#666666;font-family:Verdana, Arial, Vrinda, Tahoma;font-weight:bold;text-align:right;background-color:#eef2f5;">XX官方版权所有</span>&nbsp;All Rights Reserved &nbsp; </p>
                <p><!--电话：400-0000-000 -->粤ICP备17102192号</p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
