@using Distribution.Model;
@model Distribution.Web.En.Models.AgentInfoModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutForward.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="~/Content/copy/style.css" media="all">
    <link type="text/css" rel="stylesheet" href="~/Content/copy/z.css" media="all">
</head>
<body class="bBg">
    @*<div class="bMain">*@
        ﻿

        <div class="bRight">
            <!--右侧开始-->
            <div class="grDiv1">
                <div class="grDiv1_1"><label>Basic Information</label></div>
                <div class="grDiv1_2">
                    <div class="grDiv1_21">
                        <p><label>Name：</label><input type="text" name="name" class="name" value="@Model.agent.c_name"></p>
                        <p><label>Tel：</label><input type="text" disabled="" name="mobile" class="mobile" value="@Model.agent.c_mobile"></p>
                        <p><label>Alipay：</label><input type="text" class="aliAccount" value="@Model.agent.c_ali_account"></p>
                        <p style="position: relative;">
                            <label>Referee：</label><input type="text" name="tj" disabled="" class="tj" value="@Model.RecomAgentName">
                            <span style="position: absolute;width:160px;left: 375px;top: 9px;font-size: 14px;color: #666;"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="grDiv2">
                <div class="grDiv2_1"><label>Address Management</label></div>
                <div class="grDiv2_2">
                    <p><label>Address：</label><input type="text" name="address" class="address" value="@Model.agent.c_address"></p>
                    <p><label>Recipient：</label><input type="text" name="addressee" class="addressee" value="@Model.agent.c_rec_person"></p>
                    <p><label>Tel：</label><input type="text" name="tel" class="tel" value="@Model.agent.c_rec_mobile"></p>
                </div>
            </div>
            <div class="grDiv3">
                <div class="grDiv3_1"><label>Bank Card Management</label></div>
                <div class="grDiv3_2">
                    <p><label>Bank：</label><input type="text" name="bank_aXX" class="bank_aXX" value="@Model.agent.c_bank_name"></p>
                    <p><label>Cardholder：</label><input type="text" name="bank_holder" class="bank_holder" value="@Model.agent.c_bank_person"></p>
                    <p><label>Account：</label><input type="text" name="bank_num" class="bank_num" value="@Model.agent.c_bank_account"></p>
                </div>
            </div>
            <div class="grDiv4">
                <input type="submit" id="btnSubmit" onclick="SubmitInfo()" class="grDiv4_1" value="Confirm">
            </div>

           
            <!--右侧结束-->
        </div>
        <div class="clearB"></div>
    <script type="text/javascript">


    $(document).ready(function () {
        if (state == 2) {
            $("#btnSubmit").attr("disabled", "");
            $("#btnSubmit").css("background", "grey");
            $("input[type='text']").each(function (i, v) {
                $(v).attr("disabled", "");
            });
        }
    });
    var is_tj_code = false;
    function isChinese(temp) {
        var re = /[^\u4e00-\u9fa5]/;
        if (re.test(temp)) return false;
        return true;
    }

    function SubmitInfo() {

        var name = $('.name').val();
        var mobile = $('.mobile').val();
        var aliAccount = $('.aliAccount').val();
        var address = $('.address').val();
        var addressee = $('.addressee').val();
        var tel = $('.tel').val();
        var bank_aXX = $('.bank_aXX').val();
        var bank_holder = $('.bank_holder').val();
        var bank_num = $('.bank_num').val();
        var head_img = $('#head_img').val();
        if (name == '') {
            alert('Name can not be null.');
            return false;
        }
        if (mobile == '') {
            alert('Tel can not be null.');
            return false;
        }
        if (address == '') {
            alert('Address can not be null.');
            return false;
        }
        if (addressee == '') {
            alert('Recipient can not be null.');
            return false;
        }
        if (tel == '') {
            alert('Contact Address can not be null.');
            return false;
        }
        if (bank_aXX == '') {
            alert('Bank can not be null.');
            return false;
        }
        if (bank_holder == '') {
            alert('Cardholder can not be null.');
            return false;
        }
        if (bank_num == '') {
            alert('Account can not be null.');
            return false;
        }

        //if (!isChinese(name)) {
        //    alert('姓名只允许输入纯中文');
        //    return false;
        //}
        //if (!isChinese(bank_aXX)) {
        //    alert('开户行只允许输入纯中文');
        //    return false;
        //}
        //if (!isChinese(bank_holder)) {
        //    alert('持卡人只允许输入纯中文');
        //    return false;
        //}

        if (!(/^1[34578]\d{9}$/.test(tel))) {
            alert("Tel is wrong, please fill in it again.");
            return false;
        }
        var r = confirm("Can not be change after submission, confirm the submission?");
        if (r) {
            $.ajax({
                url: '@Url.Action("SubmitInfo", "Home")',
                data: {
                    realName: name
                    , address: address
                    , addressee: addressee
                    , tel: tel
                    , bank_aXX: bank_aXX
                    , bank_holder: bank_holder
                    , bank_num: bank_num
                    , agentId: ag_id
                    , aliAccount: aliAccount
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.state == "success") {
                        alert("Save success");
                        window.setTimeout(function () {

                            var indexUrl = '@Url.Action("UserInfo", "Home")';
                            window.location.href = indexUrl;
                        }, 1000);
                        return true;
                    } else {
                        alert("Save fail： " + data.message)
                    }
                }
            });
        }
    }

    </script>

    @*</div>*@
</body>
</html>